  .jumbotron {
    max-width: 500px;
    margin: auto;
  }
  
  .container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

  .blog-btns {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 30%;
  }

  .blog-btns button:first-child {
    margin-right: 20px;
  }


  .main-btns {
    width: 20%;
    margin: 5% 30% 2% 40%; /*top right bottom left*/

  }

  .justify-content-end {
    margin-right: 3%;
  }

  #nav-dropdown {
    color: white;
  }

  .post-card {
    margin: 1.5%;
  }

  