body {
	background: #7a942e;
}

 .navbar {
    background-color: #4a5d23;
}

.navbar-text {
    color:#003feb;
    
  }

.jumbotron {
  max-width: 500px;
  margin: auto;
  background-color: #4a5d23;
  border-radius: 2%;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

.main-btns {
  width: 20%;
  margin: 5% 40% 1% 40%; /*top right bottom left*/
}

.like-btn:hover, .clicked-like , .post-btn, .btn-primary:hover {
  color: #4a5d23
}

.btn-primary {
  background: #4a5d23;
  border: 2px solid transparent;
}

.post-btn {
  background: none;
  border: none;
}

.post-btn:hover {
  font-weight: 700;
  border-bottom: none;
}

.btn-primary:hover {
  background:white;
  border: 2px solid;
  border-color: #4a5d23;
}

.justify-content-end {
  margin-right: 3%;
}

#nav-dropdown {
  color: white;
}

.post-card {
  margin: 1.5%;   
}

.search {
  padding: 0% 2% 0% 2%;
}

h1 {
  color: white;
}

.Like {
  position: absolute;
  bottom: 1%;
  right: 3%;
  padding: 1%;
}

.Like span {
  font-size: 13px;
  font-weight: 500;
  color: rgb(56, 56, 56);
}

.like-btn {
  color: grey;
  bottom: 2px;
}

