.like-btn:hover, .clicked-like , .post-btn, .btn-primary:hover {
    color: #4a5d23
  }

.Like span {
    font-size: 13px;
    font-weight: 500;
    color: rgb(56, 56, 56);
  }

.like-btn {
    color: grey;
    bottom: 2px;
  }