.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: spin 2s infinite;
}

@keyframes spin {
    from {left: 0px;}
    50% {left: 100px;}
    to {left: 0px;}
}